#!/bin/sh
# Aliases
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias ll='ls -l --group-directories-first'
alias la='ls -a'
alias lm='ls -ltcr'
alias lt='ls -lhart'
alias l='ls -cf'
alias u='cd ..'
alias del='rm -rf'
alias mocp='mocp --theme transparent-background -O Keymap=vimish.keymap -O FormatString="%(a:%a - :)%(t:%t:)" -O Shuffle=yes -O ShowFormat=no'
alias vi='vim -p'
alias gvi='gvim -p'
alias man='man -a'
