#!/bin/sh
# Aliases

alias ls='ls --color=auto'
alias l='ls'
alias ll='ls -hl --group-directories-first'
alias la='ls -a'
alias lla='ls -hla'
alias grep='grep --color=auto'
alias del='rm -rf'
alias vi='vim'
alias man='man -a'
alias svi='sudo vim'
alias zig='make zigduino install zigduino,/dev/ttyUSB0'
alias zig2='make zigduino blip install.2 zigduino,/dev/ttyUSB0'
alias zig3='make zigduino blip install.3 zigduino,/dev/ttyUSB0'
alias ucbase='make ucbase blip install,1 avr109,/dev/ttyACM0'
alias tracker='make zigduino blip install.1 zigduino,/dev/ttyUSB0'
