#!/bin/sh
# Aliases

alias ls='ls --color=auto'
alias l='ls'
alias ll='ls -hl --group-directories-first'
alias la='ls -a'
alias lla='ls -hla'
alias grep='grep --color=auto'
alias del='rm -rf'
alias vi='vim'
alias man='man -a'
alias svi='sudo vim'
alias zig='make zigduino install zigduino,/dev/ttyUSB0'
