[core]
	editor = vim
[alias]
        stu = status -uno
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        assume = update-index --assume-unchanged
        unassume = update-index --no--assume-unchanged
        gr = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
        br = branch -v
        co = checkout
[color]
        status = auto
        branch = auto
[author]
	email = sam.mack91@gmail.com
[user]
	email = sam.mack91@gmail.com
	name = Sam Macpherson
[merge]
	tool = vimdiff
