[core]
	editor = vim
[alias]
        stu = status -uno
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        assume = update-index --assume-unchanged
        unassume = update-index --no--assume-unchanged
[color]
        status = auto
        branch = auto
[author]
	email = sam.mack91@gmail.com
[user]
	email = sam.mack91@gmail.com
	name = Sam Macpherson
[merge]
	tool = vimdiff
