<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="OpenBox 3">
		<menu execute="~/.config/openbox/pipemenus/obpipemenu-places ~/" id="places" label="Places"/>
		<!--		<menu execute="cat ~/.cache/applications.xml" id="desktop-menu" label="Apps"/> -->
		<separator/>
		<item label="Terminal">
			<action name="Execute">
				<execute>lxterminal</execute>
			</action>
		</item>
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="Htop">
			<action name="Execute">
				<execute>lxterminal -e htop</execute>
			</action>
		</item>
		<item label="FileZilla">
			<action name="Execute">
				<execute>filezilla</execute>
			</action>
		</item>
		<item label="ncmpcpp">
			<action name="Execute">
				<execute>lxterminal --geometry=150x50 -e ~/.ncmpcpp/start.sh</execute>
			</action>
		</item>
		<item label="rtorrent">
			<action name="Execute">
				<execute>lxterminal --geometry=105x30 -e  ~/.rtorrent.sh</execute>
			</action>
		</item>
		<separator/>
		<menu id="36" label="Settings">
			<menu id="37" label="OpenBox">
				<menu id="root-menu-891528" label="Eye Candy">
					<item label="No effects">
						<action name="Execute">
							<execute> ~/.config/openbox/scripts/xcompmgr.sh unset </execute>
						</action>
					</item>
					<item label="Transparency">
						<action name="Execute">
							<execute> ~/.config/openbox/scripts/xcompmgr.sh set </execute>
						</action>
					</item>
					<item label="Transparency, fading">
						<action name="Execute">
							<execute> ~/.config/openbox/scripts/xcompmgr.sh setshaded </execute>
						</action>
					</item>
					<item label="Transparency, fading shadows">
						<action name="Execute">
							<execute> ~/.config/openbox/scripts/xcompmgr.sh setshadowshade </execute>
						</action>
					</item>
				</menu>
				<item label="Edit autostart">
					<action name="Execute">
						<execute>gvim ~/.config/openbox/autostart</execute>
					</action>
				</item>
				<item label="Key Editor">
					<action name="Execute">
						<execute> obkey </execute>
					</action>
				</item>
				<item label="Configuration Manager">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Menu Editor">
					<action name="Execute">
						<execute> obmenu </execute>
					</action>
				</item>
				<separator/>
				<item label="Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu id="77" label="ncmpcpp Config">
				<item label="Edit .ncmpcpp/keys">
					<action name="Execute">
						<execute> gvim ~/.ncmpcpp/keys </execute>
					</action>
				</item>
				<item label="Edit .ncmpcpp/config">
					<action name="Execute">
						<execute> gvim ~/.ncmpcpp/config </execute>
					</action>
				</item>
				<item label="Edit .mplayer">
					<action name="Execute">
						<execute> gvim ~/.mplayer</execute>
					</action>
				</item>
				<item label="Kill ncmpcpp &amp; mpd">
					<action name="Execute">
						<execute>lxterminal -e ~/.ncmpcpp/stop.sh</execute>
						<execute>lxterminal -e ~/.ncmpcpp/stop.sh</execute>
					</action>
				</item>
			</menu>
			<menu id="66" label="rtorrent Config">
				<item label="Edit .rtorrent.rc">
					<action name="Execute">
						<execute> gvim ~/.rtorrent.rc </execute>
					</action>
				</item>
				<item label="rm .rtorrent/*">
					<action name="Execute">
						<execute>rm .rtorrent/*</execute>
					</action>
				</item>
				<item label="Kill rtorrent">
					<action name="Execute">
						<!-- <execute> screen clean up </execute> -->
						<execute> pkill rtorrent </execute>
					</action>
				</item>
			</menu>
			<menu id="36-993443" label="Tmux">
				<item label="Edit .tmux.conf">
					<action name="Execute">
						<execute>gvim ~/.tmux.conf</execute>
					</action>
				</item>
				<item label="Kill tmux">
					<action name="Execute">
						<execute>tmux kill-server</execute>
					</action>
				</item>
			</menu>
			<menu id="38" label="Conky Config">
				<item label="Edit .conkyrc">
					<action name="Execute">
						<execute> gvim ~/.conkyrc </execute>
					</action>
				</item>
				<item label="Restart Conky">
					<action name="Execute">
						<execute> conkywonky </execute>
					</action>
				</item>
			</menu>
			<item label="edit .vimrc">
				<action name="Execute">
					<execute>gvim ~/.vimrc</execute>
				</action>
			</item>
			<item label="netcfg -r">
				<action name="Execute">
					<execute>lxterminal -e sudo netcfg -r home</execute>
				</action>
			</item>
			<item label="Customize Look and Feel">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="Keyboard and Mouse">
				<action name="Execute">
					<execute>lxinput</execute>
				</action>
			</item>
			<item label="Screen Resolution">
				<action name="Execute">
					<execute>arandr</execute>
				</action>
			</item>
			<item label="Wallpaper">
				<action name="Execute">
					<execute> nitrogen </execute>
				</action>
			</item>
		</menu>
		<item label="Exit">
			<action name="Execute">
				<execute> oblogout </execute>
			</action>
		</item>
	</menu>
</openbox_menu>
